


// FIXME: find a better way to do this
* {
	width: 100%;
}

:host {
	display: block;
}

main {
	display: flex;
	flex-direction: column;
	min-height: 0;  // Allow to be shrinked
}

.content {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.video-grid {
	display: grid;
	grid-template-columns: repeat(var(--columns), 1fr);
	max-height: 100%;
}
