


// FIXME: find a better way to do this
* {
	width: 100%;
}

:host {
	display: block;
}

main {
	display: flex;
	flex-direction: column;
	min-height: 0;  // Allow to be shrinked
}

.content {
	height: 100vh;
	display: flex;
	flex-direction: column;
}
